.wod{
    width:24%;
    background: #ba0c2f;
    font-family: Ubuntu,sans-serif;
    color:white;
    font-size: 1.4rem;
}

.wod h2{
    font-size: 1.4rem;
    margin:0;
    padding:8px;
    font-weight: 200;
    margin-bottom: 20px;
    background-color: #282828;
    border-radius:4px 4px 4px 4px;
    text-align: center;
}

.training{
    padding:20px;
}

.item{
    padding:10px 0;
    text-transform: uppercase;
}