.wod_b{
    width:100%;
    background: #ba0c2f;
    font-family: Ubuntu,sans-serif;
    color:white;
}

.fz_6{
    font-size: 6.2rem;
}

.fz_5{
    font-size: 5.2rem;
}

.fz_4{
    font-size: 4.5rem;
}

.fz_3{
    font-size: 3.2rem;
}

.fz_2{
    font-size: 2.5rem;
}

.fz_1{
    font-size: 1.8rem;
}

.fz_0{
    font-size: 1.4rem;
}

.wod_b h2{
    font-size: 1.4rem;
    margin:0;
    padding:8px;
    font-weight: 200;
    margin-bottom: 20px;
    background-color: #282828;
    text-align: center;
}

.training_b{
    padding:20px;
    text-align: center;
    font-weight: 800;
}

.item_b{
    padding:10px 0;
    text-transform: uppercase;
}